:root{
    --text-color: rgb(186, 195, 149);
    --bg-color: lightcoral;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.content{
    max-width: 400px;
    border: 1px solid #ddd;
    margin: 200px auto;
    padding: 20px;
}
h1{
    color: var(--text-color);
    margin-bottom: 10px;
}
p{
    background-color: var(--bg-color);
    padding: 10px;
}
.btn{
    display: inline-block;
    margin-top: 20px;
    color: var(--text-color);
    background-color: var(--bg-color);
    padding: 10px 20px;
    border-radius: 5px;
}